// Presentation.module.scss
.presentationContainer {
    text-align: center;
    padding: 10px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.textWhite {
    color: white;
}

.textRed {
    color: #dc3d4b;
}
