

.header {
    height: 100vh;  
    background-image: url('../assets/header.jpg'); 
    background-size: cover;  
    background-position: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center; 
}

.logo {
    width: 500px;  
    margin-bottom: 20px; 
}

